<div class="row">
    <div class="twelve columns splash">
      <h1>Current Standings:</h1>
    </div>
  </div>

<div class="row fruit_row">
  <div class="six columns">
    <div class="picture_blurb">
      <h2>{{votes.0.fruit_name}}</h2>
      <h5>{{votes.0.total_votes}} Votes / {{votes.0.vote_percent}}%</h5>      
    </div>
    <div class="picture">
      <img class="fruit_picture" src={{votes.0.fruit_picture}} alt={{votes.0.fruit_name}}>
    </div>
  </div>

  <div class="six columns">
    <div class="picture_blurb">
      <h2>{{votes.1.fruit_name}}</h2>
      <h5>{{votes.1.total_votes}} Votes / {{votes.1.vote_percent}}%</h5>        
    </div>
    <div class="picture">
      <img class="fruit_picture" src={{votes.1.fruit_picture}} alt={{votes.1.fruit_name}}>
    </div>
  </div>
</div>

<div class="row fruit_row">
  <div class="six columns">
    <div class="picture_blurb">
      <h2>{{votes.2.fruit_name}}</h2>
      <h5>{{votes.2.total_votes}} Votes / {{votes.2.vote_percent}}%</h5>        
    </div>
    <div class="picture">
      <img class="fruit_picture" src={{votes.2.fruit_picture}} alt={{votes.2.fruit_name}}>
    </div>
  </div>

  <div class="six columns">
    <div class="picture_blurb">
      <h2>{{votes.3.fruit_name}}</h2>
      <h5>{{votes.3.total_votes}} Votes / {{votes.3.vote_percent}}%</h5>        
    </div>
    <div class="picture">
      <img class="fruit_picture" src={{votes.3.fruit_picture}} alt={{votes.3.fruit_name}}>
    </div>
  </div>
</div>