<div class="container">
  <div class="row">
    <a href="/">
    <div class="twelve columns splash">
       <h1>FOOD. FIGHT.</h1>
    </div>
    </a>
  </div>

  <div class="row">
    <div class="four columns">
      <p>Hello, {{display.student_name}}!</p>
      <form method="GET" action="/">
        <button class="button-primary" type="submit">Log Out</button>
      </form>      
    </div>

    <div class="four columns">
      <p>Your current vote is:</p>
      <h5>{{display.fruit_name}}</h5>
    </div>

    <div class="three columns">
      <form method="POST" action="/vote">
        <input type="hidden" name="student" value={{display.student_id}}>
        <label for="vote"></label>
        <select name="vote">
            <option value=999></option>
            <option value=1>Apple</option>
            <option value=2>Orange</option>
            <option value=3>Banana</option>
            <option value=4>Pineapple</option>
        <input class="button-primary" type="submit" value="Vote">
      </form>
    </div>

  </div>
  
  <div class="row">
    <div class="twelve columns splash">
      <h2>Current Standings</h2>
    </div>
  </div>
  
  {{#votes}}
  <div class="row">
    <div class="six columns tally_info">
        <h4>{{fruit_name}}: {{total_votes}}</h4>
        <h4>{{vote_percent}}%</h4>
    </div>
    <div class="six columns">
        <img id="fruit_picture" src={{fruit_picture}} alt={{fruit_name}}>
    </div>
  </div>
  {{/votes}}
  
</div>